#container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#navbar ul {
    display: flex;
    gap: 5vh;
    flex-direction: row;
    font-size: larger;
    cursor: pointer;
}

#navbar img {
    width: 50px;
    height: 50px;
    border-radius: 99px;
    margin-left: 10px;
    margin-top: 10px;
}

#login-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #5865F2;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
}

#login-panel button:hover {
    background-color: #6d7285;
}

#login-panel button {
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
}

.link-nav {
    margin-top: 20px;
}

.link-nav:hover {
    font-weight: bolder;
}
