h1 {
  text-align: center;
}

body {
  overflow-x: hidden;
}

.status{
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 1%;
  color: red;
}

::-webkit-scrollbar {
  width:14px;
}

::-webkit-scrollbar-track {
  background: #2d3748;
}

::-webkit-scrollbar-track:hover {
  background: #4a5568;
}

::-webkit-scrollbar-thumb {
  background: #1a202c;
}

.announcement{
  text-align: left;
}
#announcement-container {
  gap: 10px;
  border: steelblue 1px solid;
  width: 100%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-left: 10px;
}

.header {
  align-content: center;
  display: flex;
  gap: 10px;
}

.timestamp, .author {
  margin: 0;
  display: inline-block;
}

.timestamp {
  color: dimgray;
}

.image {
  max-height: 500px;
  max-width: 500px;
  border-radius: 2%;
  margin-top: 5px;
}

.hide {
  display: none;
}

.shown {
  display: block;
}

.headline {
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
}